@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  background-color: rgb(154, 154, 154);
}
h1 {
  text-align: center;
  margin: 2rem 0;
  font-size: 2.5rem;
}
a {
  color: rgba(0, 0, 0, 0.4);
  font-size: 1.5rem;
}
i {
  transition: 0.2s;
}
i:hover {
  padding: 0 2px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
}
.accordion {
  width: 90%;
  max-width: 800px;
  margin: 2rem auto;
}
.accordion-item {
  background-color: #fff;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}
.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  font-weight: 600;
  line-height: 1.25rem;
  min-height: 3.5rem;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.accordion-item-header::after {
  content: "\002B";
  font-size: 1.6rem;
  position: absolute;
  right: 1rem;
  transition: transform 0.3s ease;
}
.accordion-item-header.active::after {
  transform: rotate(45deg);
}
.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}
.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 2px solid;
  border-image: linear-gradient(to right, grey, gold) 1;
}
